<!-- Крафт предмета -->
{% if craft_result %}
<div class="skill-section fadeIn">
	<p class="section-star">★</p>
	<h2 class="section-title">Крафт предмета</h2>
	<div class="skill-content">
		{% for craft in craft_result %}
		<div class="item-row">
			<img class="item-icon"
				 onerror="this.onerror=null; this.src='https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/no_monster/no_monster_image.png'"
				 src="{{ craft.ImagePath }}">
			<a href="{{ url_for('items.item_detail', item_id=craft.RItemID) }}"
			   class="item-name">{{ craft.CraftItems }}</a>
			<span class="stat-value">{% if craft.RSuccess is not none %}{{ craft.RSuccess }} %{% endif %}</span>
			<span class="stat-value">{{ craft.RIsCreateCnt }} шт.</span>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}