<!-- Связанные скиллы -->
{% if abnormal_skills %}
	<div class="skill-section fadeIn">
		<p class="section-star">★</p>
		<h2 class="section-title">Связанные скиллы</h2>
		<div class="skill-content">
			{% for skill in abnormal_skills %}
				<div class="item-row">
					<img class="item-icon" src="{{ skill.icon }}"
						 onerror="this.onerror=null; this.src='https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/no_monster/no_monster_image.png'">
					<a href="{{ url_for('skills.skill_detail', skill_id=skill.id) }}"
					   class="item-name">{{ skill.name }}</a>
				</div>
				{% if skill.desc %}
					<p class="skill-desc">{{ skill.desc }}</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}