<!-- Связанные предметы -->
{% if abnormal_items %}
	<div class="skill-section fadeIn">
		<p class="section-star">★</p>
		<h2 class="section-title">Связанные предметы</h2>
		<div class="skill-content">
			{% for item in abnormal_items %}
				<div class="item-row">
					<img class="item-icon" src="{{ item.icon }}"
						 onerror="this.onerror=null; this.src='https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/no_monster/no_monster_image.png'">
					<a href="{{ url_for('items.item_detail', item_id=item.id) }}"
					   class="item-name">{{ item.name }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}