<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/favicon.svg" />
<link rel="shortcut icon" href="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/MyWebSite" />
<link rel="manifest" href="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/refs/heads/main/static/favicon/site.webmanifest" />
