<nav class="navbar navbar-expand-lg navbar-light">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <a class="navbar-brand" href="/">R2 Online Game</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Items Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="itemsDropdown" data-toggle="dropdown">
                    Предметы
                </a>
                <div class="dropdown-menu dropdown-menu-scrollable">
                    <a class="dropdown-item" href="/item_all">
                        <img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item17_144_96.png" alt="All_Items"> Все предметы
                    </a>
                    <a class="dropdown-item" href="/weapon">
                        <img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_432_384.png" alt="Weapons"> Оружие
                    </a>
                    <a class="dropdown-item" href="/helmet"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_96_384.png" alt="Helmet"> Шлем</a>
                    <a class="dropdown-item" href="/armor"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_288_432.png" alt="Armor"> Броня</a>
                    <a class="dropdown-item" href="/gloves"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_144_384.png" alt="Gloves"> Перчатки</a>
                    <a class="dropdown-item" href="/boots"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_192_384.png" alt="Boots"> Ботинки</a>
                    <a class="dropdown-item" href="/cloak"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_336_384.png" alt="Cloak"> Плащ</a>
                    <a class="dropdown-item" href="/ring"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_288_384.png" alt="Ring"> Кольца</a>
                    <a class="dropdown-item" href="/belt"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_384_192.png" alt="Belt"> Ремни</a>
                    <a class="dropdown-item" href="/necklace"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_384_384.png" alt="Necklace"> Ожерелья</a>
                    <a class="dropdown-item" href="/earrings"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item43_384_240.png" alt="Earrings"> Серьги</a>
                    <a class="dropdown-item" href="/shield"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item06_0_432.png" alt="Shield"> Щит</a>
                    <a class="dropdown-item" href="/arrows"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item08_144_192.png" alt="Arrows"> Стрелы</a>
                    <a class="dropdown-item" href="/books"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item02_0_0.png" alt="Books"> Книги</a>
                    <a class="dropdown-item" href="/potions"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item02_144_144.png" alt="Potions"> Зелья</a>
                    <a class="dropdown-item" href="/materials"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item01_192_0.png" alt="Materials"> Материалы</a>
                    <a class="dropdown-item" href="/etc"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item01_336_0.png" alt="Etc"> Разное</a>
                    <a class="dropdown-item" href="/quest"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item01_432_0.png" alt="Quest"> Квест</a>
                    <a class="dropdown-item" href="/event"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item05_48_144.png" alt="Event"> Ивент</a>
                    <a class="dropdown-item" href="/sphere"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item10_336_144.png" alt="Sphere"> Сферы</a>
                </div>
            </li>

            <!-- Monsters Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="monstersDropdown" data-toggle="dropdown">
                    Монстры
                </a>
                <div class="dropdown-menu dropdown-menu-scrollable">
                    <a class="dropdown-item" href="/monster_all"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/77.png" alt="All_Monsters"> Все монстры</a>
                    <a class="dropdown-item" href="/monster_regular"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/33.png" alt="Обычные"> Обычные</a>
                    <a class="dropdown-item" href="/monster_imennoy"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/361.png" alt="Именные"> Именные</a>
                    <a class="dropdown-item" href="/monster_boss"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/3050.png" alt="Боссы"> Боссы</a>
                    <a class="dropdown-item" href="/monster_raidboss"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/2058.png" alt="Рейд-Боссы"> Рейд-Боссы</a>
                    <a class="dropdown-item" href="/monster_event"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/2160.png" alt="События"> События</a>
                    <a class="dropdown-item" href="/monster_npc"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/2015.png" alt="NPC"> NPC</a>
                </div>
            </li>

            <!-- Merchants Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="merchantsDropdown" data-toggle="dropdown">
                    Остальное
                </a>
                <div class="dropdown-menu dropdown-menu-scrollable">
                    <a class="dropdown-item" href="/merchants"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/2360.png" alt="Все продавцы"> Продавцы</a>
                    <a class="dropdown-item" href="/skills"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/skillicon05_336_48.png" alt="Все скиллы"> Скиллы</a>
                    <a class="dropdown-item" href="/abnormals"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/Abnormal01_64_384.png" alt="Все абнормал"> Абнормал</a>
                    <a class="dropdown-item" href="/chests"><img src="https://raw.githubusercontent.com/Aksel911/R2-HTML-DB/main/static/item09_48_96.png" alt="Заполнить сундук"> Золотой сундук</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<style>

    /* 
    * Стили кнопки переключения темы / Кнопка переключения темы
    */
    .theme-toggle  { 
        position: absolute;
        top: 50px;
        right: 55px;
        width: 40px;  /* Фиксированная ширина */
        height: 40px; /* Фиксированная высота */
        border-radius: 50%;
        background: #f1f1f1;
        border: none;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        display: flex;           /* Для центрирования иконки */
        align-items: center;     /* Центрирование по вертикали */
        justify-content: center; /* Центрирование по горизонтали */
        padding: 0;             /* Убираем padding */
    }


    .theme-toggle i  { 
        font-size: 18px;    /* Размер иконки */
        line-height: 1;     /* Убираем дополнительное пространство */
    }


    .theme-toggle:hover  { 
        color: var(--accent-color);
        transform: rotate(360deg);
    }

    /* Стили для компактности на малых экранах */
    @media (max-width: 576px) {
        .theme-toggle {
            right: 80px;
        }
    }

</style>




